body {
    font-family: Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 100vh;
    background-color: #E9EBEE;
    font-size: 12px;
}

:root {
    font-size: 12px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

nav {
    height: 44px;
    position: fixed;
    width: 100%;
    background-color: #4267B2;
    top: 0;
    z-index: 4;
}

.content {
    margin-left: 13vw;
    display: flex;
    align-items: center;
    height: 100%;
    width: 40vw;
}

.nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    width: 50%;
    display: flex;
    align-items: center;
}

.nav-search {
    display: flex;
    width: 100%;
    height: 26px;
    background-color: white;
}

.nav-search input {
    flex-grow: 1;
    outline: none;
    border: none;
}

.nav-search img {
    padding: .5rem 1rem;
    background-color: #F5F6F7;
}

.nav-notification img.pp {
    border-radius: 50%;
    margin: 0 .3rem;
}

.nav-notification span {
    color: white;
    padding: 0 .6rem;
}

.nav-notification img {
    width: 22px;
    height: 22px;
    margin: 0 .6rem;
}

.nav-notification:last-child {
    width: 20px;
    height: 20px;
}

.nav-notification {
    display: flex;
    align-items: center;
}

.left-nav {
    position: fixed;
    top: 46px;
    margin-left: 13vw;
    margin-top: 1rem;
    width: 11vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.left-nav img {
    width: 20px;
    height: 20px;
}

.left-nav span {
    color: #1d2129;
    font-weight: 400;
    font-size: 1.08;
}

.left-nav img {
    width: 20px;
    height: 20px;
}

.left-nav a {
    margin: .5rem 0;
}

.ln-links {
    display: flex;
    flex-direction: column;
}

.ln-links a {
    display: flex;
    align-items: center;
}

a.brand-nav img {
    border-radius: 50%;
}

a.brand-nav {
    margin-bottom: 1rem;
}

.shortcut {
    display: flex;
    flex-direction: column;
}

.shortcut p {
    font-size: 1.133rem;
    color: #65676b;
    font-weight: 600;
    padding: .5rem 0;
    margin: .5rem 0 .5rem .5rem;
}

.shortcut .lib {
    display: flex;
    align-items: center;
}

.shortcut .lib img {
    border-radius: 10px;
    margin: 0 .8rem 0 .5rem;
    width: 36px;
    height: 36px;
}

.explore {
    display: flex;
    flex-direction: column;
}

.explore a {
    display: flex;
    align-items: center;
}

img.ex-img {
    border-radius: 50%;
}

.right-nav {
    position: fixed;
    right: 0;
    top: 46px;
    width: 13vw;
    height: 100%;
    border-left: 1px solid black;
}

.users {
    display: flex;
    flex-direction: column;
    margin: .2rem;
}

.user {
    display: flex;
    align-items: center;
    padding: .3rem 0;
}

a.user {
    color: #333333;
}

a.user:hover {
    background-color: #DADDE1;
}

.user img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 .3rem;
}

.user p {
    flex-grow: 1;
}

.user span {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #42B72A;
    margin: 0 .5rem;
}

.user label {
    font-size: 11px;
    color: #90949c;
    margin: 0 .5rem;
}

.grpconv {
    display: flex;
    flex-direction: column;
}

.grpconv p {
    font-size: 0.9rem;
    font-weight: 700;
    color: #4a4a4a;
}

.newgrp p {
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
}

main {
    width: 50vw;
    display: flex;
    margin-left: 25vw;
    margin-top: 46px;
    z-index: 2;
}

section {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: .5rem 1rem 0 0;
}

.add-post {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 0 0 .5rem;
}

.add-post p {
    font-weight: 600;
    color: #4b4f56;
    width: 100%;
    background-color: #F5F6F7;
    padding: .6rem .4rem;
}

.type-post {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    padding: .5rem .6rem;
}

.type-post a img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: .1px solid gray;
}

.type-post input {
    background-color: white;
    padding: .6rem;
    width: 100%;
    margin-left: .3rem;
    outline: none;
    border: none;
    font-size: 1.2rem;
}

.upload-posts {
    border-top: 1px solid #F0F2F5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
}

.upload-post {
    display: flex;
    align-items: center;
}

.upload-post img {
    margin-right: .5rem;
}

.upload-post span {
    font-weight: 600;
    color: #65676b
}

.stories {
    display: flex;
    flex-direction: column;
    margin: .8rem 0;
    padding: .5rem .6rem;
    background-color: white;
    width: 100%;
    border-radius: 5px;
}

.stories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stories p {
    color: #65676b;
    font-size: 1rem;
    font-weight: 600;
    padding: .3rem 0 .5rem;
}

.stories a {
    color: #385898;
    font-weight: 400;
}

.stories a:hover {
    text-decoration: underline;
}

.story-bar {
    display: flex;
    justify-content: space-between;
}

.story {
    width: 9.4rem;
    height: 16.75rem;
}

.crs {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-right: .3rem;
}

img.crs-img {
    height: 100%;
    border-radius: 10px;
}

.crs span {
    position: absolute;
    top: .5rem;
    left: .5rem;
    border-radius: 50%;
    background-color: #F5F6F7;
}

.crs p {
    position: absolute;
    max-width: calc(100% - 1rem);
    margin-left: .5rem;
    color: white;
    bottom: .5rem;
    font-weight: bolder;
}

.card {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.card img.status-head {
    position: absolute;
    top: .5rem;
    left: .5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 3px solid #1876F2;
}

img.card-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card p {
    position: absolute;
    max-width: calc(100% - 1rem);
    margin-left: .5rem;
    color: white;
    bottom: .5rem;
    font-weight: bolder;
}

.posts {
    margin: .8rem 0;
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    padding: 0 .6rem;
    margin: .8rem 0;
}

.post-header {
    display: flex;
    align-items: center;
    padding: .5rem 0rem .3rem;
}

.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-header a.ho {
    flex-grow: 1;
}

.post-header p {
    color: #385898;
    font-weight: 600;
    font-size: 1.16rem;
}

.post-header img.icon-more {
    width: 20px;
    height: 20px;
}

.post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-content p {
    line-height: 19px;
    font-size: 1.16rem;
    color: #1d2129;
    font-weight: 400;
}

.post-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #F0F2F5;
}

.post-reaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 0;
    border-bottom: 1px solid #F0F2F5;
}

.post-reaction p img {
    width: 18px;
    height: 18px;
}

.post-reaction span,
p {
    display: flex;
    align-items: center;
    color: #65676b;
    font-weight: 400;
}

.post-react {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .7rem 0;
}

.post-react p,
span {
    color: #65676b;
    font-weight: 600;
}

.post-react img {
    margin-right: .5rem;
}

.post-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.write-comment {
    display: flex;
    align-items: center;
}

.write-comment {
    margin: .8rem 0;
}

.write-comment img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: .8rem;
}

.write-comment .input {
    flex-grow: 1;
    display: flex;
    align-items: center;
    background-color: #F0F2F5;
    padding: .5rem .5rem;
    border-radius: 15px;
}

.write-comment input {
    outline: none;
    border: none;
    flex-grow: 1;
    font-size: 1rem;
    background-color: #F0F2F5;
}

.write-comment .input img {
    width: 18px;
    height: 18px;
}

.notification {
    width: 18vw;
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}

.birthday {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
}

.sponsored-posts {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
    margin-top: 1rem;
    background-color: white;
}

.sponsored-header {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}

.sponsored-header p {
    color: #616770;
    font-weight: 600;
    font-size: 1.083rem;
}

.sponsored-header a {
    color: #4267b2;
    font-weight: 400;
    font-size: 1.083rem;
}

.sponsored-post {
    display: flex;
    flex-direction: column;
    font-size: 1.083rem;
    padding: 1rem 0;
}

.sponsored-post img {
    width: 100%;
    height: 12rem;
}

.sponsored-post {
    line-height: 16px;
    padding-top: 1rem;
}

.langs {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 1rem .5rem;
    margin: 1rem 0;
}

.langs a {
    padding: .5rem;
}

footer {
    margin: 1rem .5rem 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

footer a {
    text-decoration: none;
    color: #65676b;
    font-size: 1.08rem;
    padding: .3rem .4rem;
}

footer a:hover {
    text-decoration: underline;
}